.board-detail__container{
    margin: 0 auto;
    min-width: 400px;
    max-width: 500px;
    height: 100%;
    table{
        
        font-size: 20px;
        font-weight: 600;
        height: 100%;
        tr{
            td{
                border: 1px solid $black;
            }
            td:first-child{
               text-align: center;
               padding: 10px;
               min-width: 100px;
               vertical-align: middle;
           }
           td:nth-child(2){
               padding: 10px;
               font-size: 18px;
               font-weight: 550;
               min-width: 400px;
                max-width: 500px;
           }
        }
        tr:nth-child(2){
            height: 500px;
        }

    }
        
        
    
    
}