.home-videos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
   
    .videoBlock
    {
      grid-column: span 1;
      video{
        height: 180px;
      }
      h4{
        font-size: 20px;
        font-weight: 600;
      }
      h6{

      }
    }
  }