extends layouts/main

block content
    .board-detail__container
        table
            tr
                td 제목
                td=board.title
            tr
                td 내용
                td=board.content
        
        
            
            

        
        
        
