extends layouts/main

block content
    .board-detail__container
        table
            tr
                td 제목
                td=board.title
            tr
                td 내용
                td=board.content
        a(href=routes.editBoard(board._id))
            button 수정
        a(href=routes.board(1))
            button.confirm 확인
        
        
            
            

        
        
        
