extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-header
            .user-profile__header
                img.u-avatar(src=user.avatarUrl)
                h4.profile__username=user.name
                
        if user._id==loggedUser._id
            .user-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button 프로필 수정
                a(href=`/users${routes.changePassword}`)
                    button 비밀번호 변경
    h4 내가 업로드한 비디오
    .user-videos
        each item in user.videos 
            .uploaded-videos
                +videoBlock({
                    id:item._id,
                    title:item.title,
                    views:item.views,
                    videoFile:item.fileUrl
                })