extends layouts/main

block content
    .form-container
            form(action=`/board${routes.write}`,method="post")
                input(type="text",name="content",placeholder="글작성",required=true)
                input(type="submit",value="저장")
    