doctype html
html
    head
        script(src='https://kit.fontawesome.com/86c403fd2a.js')
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        
        main
            block content
        footer
            include ../partials/footer
